.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-no-link-style {
  text-decoration: none;
  color:rgb(114, 113, 113);
  padding: 8px;
}
