.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-no-link-style {
  text-decoration: none;
  justify-content: right;
  padding-right: 40px;
  color: #c7c1c1;

  &:hover {
    color: rgb(133, 132, 132);
    opacity: 1;
  }
}
